[run]
source_pkgs = chimerabot
omit =
        chimerabot/core/gateway/*
        chimerabot/core/management/*
        chimerabot/client/config/config_helpers.py
        chimerabot/client/config/conf_migration.py
        chimerabot/client/config/security.py
        chimerabot/client/chimerabot_application.py
        chimerabot/client/command/*
        chimerabot/client/settings.py
        chimerabot/client/ui/completer.py
        chimerabot/client/ui/layout.py
        chimerabot/client/tab/*
        chimerabot/client/ui/parser.py
        chimerabot/connector/derivative/position.py
        chimerabot/connector/derivative/dydx_v4_perpetual/*
        chimerabot/connector/derivative/dydx_v4_perpetual/data_sources/*
        chimerabot/connector/exchange/injective_v2/account_delegation_script.py
        chimerabot/connector/exchange/mexc/protobuf/*
        chimerabot/connector/exchange/paper_trade*
        chimerabot/connector/gateway/**
        chimerabot/connector/test_support/*
        chimerabot/core/utils/gateway_config_utils.py
        chimerabot/core/utils/kill_switch.py
        chimerabot/core/utils/wallet_setup.py
        chimerabot/connector/mock*
        chimerabot/strategy/*/start.py
        chimerabot/strategy/dev*
        chimerabot/user/user_balances.py
        chimerabot/connector/exchange/cube/cube_ws_protobufs/*
        chimerabot/connector/exchange/ndax/*
        chimerabot/strategy/amm_arb/*
        chimerabot/strategy_v2/backtesting/*
dynamic_context = test_function
branch = true

[report]
fail_under = 70
precision = 2
skip_empty = true
exclude_lines =
    @(abc\.)?abstractmethod
    if TYPE_CHECKING:
    pragma: no cover
    if __name__ == .__main__.:
    if 0:
    raise AssertionError
    raise NotImplementedError
    if settings.DEBUG
    except asyncio.exceptions.TimeoutError:

[html]
directory = coverage_html_report
show_contexts = true

[xml]
output = coverage.xml
